<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PLUGIN_ID)</string>
	<key>CFBundleName</key>
	<string>$(PLUGIN_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(PLUGIN_VERSION)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>$(PLUGIN_VERSION)</string>
</dict>
</plist>
